@types
jsdoc
node_modules
openlayers
test
test-out
.vscode

.editorconfig
.eslintrc.json
pre-publish.sh
tsconfig.json
tsconfig.lint.json
tsconfig.test.json
webpack.config.json
yarn.lock

yarn-error.log
report.*.json

Thumbs.db
.DS_Store
